<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
<div class="container-fluid">
  <h6 class="navbar-text">&copy; Copyright 2022. All Rights reserved. 2022 by Ganan Seevananthan</h6>
  <h6 class="navbar-text">
  
  <button onclick="window.location.href='https://github.com/GananS';">
      MyGithub
      <i class="fa-brands fa-github"></i>
    </button>

  <button onclick="window.location.href='https://www.linkedin.com/in/g-seeva-64b758255/';">
    linkedin
    <i class="fa-brands fa-linkedin-in"></i>
  </button>
  </h6>
  
</div>
</nav>