<div id="about">
  <h1>About Me</h1>
  <article>
    <h2>A little bit about me</h2>
    <p>
      Hi, my name is Ganan Seevananthan.
      I am a student at Ontario Tech University studying in the program of Networking and IT Security.
      Some of my hobbies are playing sports, and instruments. Spending time with my family, and I love cats.
    </p>
  </article>

  <article>
    <h2>What instruments do I play?</h2>
    <p>I play the violin mainly, I used to play the flute in highschool and the piano a long time ago.</p>
  </article>

  <article>
    <h2>What sports do I play?</h2>
    <p>I mainly play basketball now for fun. I used to play ice hockey on a team and I love to skate.</p>
  </article>

  <div class="row">
    <div class="column">
      <img src="picture of myself.jpg" alt="picture of myself" class="center" style="width: 200px;">
    </div>
    <div class="column">
      <video width="320" height="240" class="" controls autoplay loop muted>
        <source src="cat.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>