<div id="projects">
  <h1>Projects</h1>
  <article>
    <h2>Project Management</h2>
    <p>
      In project management I am working on a project where I choose a project description and identify 8 stakeholders
      for that project.
      We use this webpage called monday.com to organize this project. This is a website that helps create applications
      and manage work.
    </p>
  </article>

  <article>
    <h2>Highschool</h2>
    <p>
      In highschool I made a pacman game. I had to code the ghosts to automatically choose it's own pathing.
      This was done in the programming language called java.
    </p>
  </article>
</div>