/* Set height of body and the document to 100% to enable "full page tabs" */
* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: red;
    background-image: linear-gradient(to right, red, yellow);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height: 200px;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/* Centers a picture or video */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border-radius: 25%;
}

#Home {
    background-color: red;
}

#AboutMe {
    background-color: green;
}

#Projects {
    background-color: blue;
}

#ContactMe {
    background-color: orange;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}


@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
}

@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

#gradient {
    height: 200px;
    background-color: red;
    background-image: linear-gradient(to right, red, yellow);
}